* {
    font-family: "Spinnaker", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  :root {
    --x: 45deg; 
  }

  html {
    scroll-behavior: smooth;
}
  
  .cards-section {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 50px 0;
    margin-bottom: 55px;
    margin-top: 55px;


  }
  
  .card:nth-child(2) {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(var(--x), #00ccff, #0e1538, #0e1538, #d400d4);
    transition: background 0.3s ease; 
  }
  .card:nth-child(1) {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(var(--x), #07ff18, #000000, #000000, #ff0000);
    transition: background 0.3s ease; 
  }
  
  .card-content {
    text-align: center;
    z-index: 1;
  }
  
  .card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-family: "Spinnaker", sans-serif;
  }
  
  .card-description {
    font-size: 1rem;
    color: #333;
  }
  
  .card-button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #9d00ff;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .card-button:hover {
    background-color: #45a2ff;
  }
  

.panel-container {
    position: relative;
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000; 
    z-index: -1;

  }

  .video-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

video {
    max-width: 100%;
    height: auto;
}

.card1{
    transition: transform 0.2s;
}

.card1:hover {
    transform: scale(1.05);
}

.textjust{
  text-align: justify;
  text-decoration: none;
}